version: '3.8'

services:
  mongo:
    image: mongo
    container_name: container_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db 

  api:
    build: ./Backend
    container_name: container_backend
    ports:
      - "5001:5001"
    depends_on:
      - mongo
    environment:
      - PORT=5001

  web:
    build: ./concessionaria-app
    container_name: container_frontend
    ports:
      - "5173:5173"
    depends_on:
      - api 

volumes:
  mongo-data: